
    body{
        background: #222;
    }



    .form-control{
        height: 55px;
        width: 55px;
        text-align: center;
        font-size: 30pt;
        background: #333;
        color: 333;
        border: 1px solid #0d6efd;;
        
    }
    td{
        padding: 10px;
    }
    .hidden{
        display: none;
    }

    input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }
.keypads{
    margin: 0 auto;
    background: red;
    left: 0; right: 0;
    width: 400px;
}
    .singlekey{
        padding: 15px;
        float: left;
        list-style: none;
        justify-content: center;
    line-height: 30px;
    cursor: pointer;

    }
    .singlekey div{
        background: #333;
        text-align: center;
        padding: 20px;
       height: 70px;
				width: 70px;
        border-radius: 50%;
        font-size: 20pt;
    }
